################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POC/.vs/POC
/POC/POC/bin/Debug
/POC/POC/obj/Debug
